<!-- // Title: Assignment 3.2 Passing Data to routes, Part 1
// Author: Prof Krasso
// Date: Nov 6 2022
// Modified: Detres
// Description: Assignment 3.2 Passing Data to routes, Part 1
//Week-3 exercises/videos
//https://www.npmjs.com/package/bootstrap-icons
//https://angular.io/api/router/RouterLink
//https://angular.io/tutorial/toh-pt5
https://stackoverflow.com/questions/41370760/difference-between-routerlink-and-routerlink
 -->

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <!-- hard coded composer name -->
      <h3 class="align-center">Robi Draco</h3>
    </div>
  </div>

  <br /><br />
  <div class="row">
    <div class="col-sm-3">
      <!-- image for comp. goes here -->
      <img src="../../assets/Draco.jpeg" alt="Draco Rosa" style="max-width: 250px" />
      <!-- image caption -->
      <figcaption>image credits: <a href="https://en.wikipedia.org/wiki/Draco_Rosa#/media/File:DracoRosa3.jpg">Wikimedia
          Commons</a></figcaption>
    </div>
    <div class="col-sm-9">
      <!-- Composer Robi Draco's biog -->
      <p>
        Draco Cornelius Rosa Suarez also known as Robi Draco Rosa is a Puerto Rican musician and composer. He started
        his career
        in 1980 under the group Menudo. His early career friends in the group included now famous Ricky Martin. He has
        composed
        six albums for Ricky Martin, Julio Iglesias and himself. He has won a total of five Grammy Awards. Little known
        fact: He
        received song writing credit because of the interpolation of part of the composition for Sisqo’s “Thong Song”
        released
        February 15, 2000.
      </p>
    </div>
  </div>
</div>
