<!-- // Title: Assignment 3.2 Passing Data to routes, Part 1
// Author: Prof Krasso
// Date: Nov 6 2022
// Modified: Detres
// Description: Assignment 3.2 Passing Data to routes, Part 1
//Week-3 exercises/videos
//https://www.npmjs.com/package/bootstrap-icons
//https://angular.io/api/router/RouterLink
//https://angular.io/tutorial/toh-pt5
https://stackoverflow.com/questions/41370760/difference-between-routerlink-and-routerlink 
https://www.youtube.com/watch?v=2nuUKwyaCzU&t=2s
https://www.youtube.com/watch?time_continue=5&v=jBcIjOtctIY&feature=emb_logo
https://cyberactive.bellevue.edu/ultra/courses/_513884_1/cl/outline-->



<div class="row">
  <div class="col-sm-12">
    <ul class="list-group">
      <!-- Populating of Composer by ID, Full Name and Genre -->
      <li class="list-group-item">Composer ID: {{ composer.composerId }}</li>
      <li class="list-group-item">Full name: {{ composer.fullName }}</li>
      <li class="list-group-item">Genre: {{ composer.genre }}</li>
    </ul>
    <br />
    <!-- Router link to list of composers -->
    <a routerLink="/composer-list" class="float-right">Return to Composers</a>
  </div>
</div>
