<!-- // Title: Assignment 5.2 Navigation n layout
// Author: Prof Krasso
// Date: Nov 18 2022
// Modified: Detres
//Week-5 exercises/videos
//https://www.npmjs.com/package/bootstrap-icons
//https://angular.io/api/router/RouterLink
//https://angular.io/tutorial/toh-pt5
// https://stackoverflow.com/questions/41370760/difference-between-routerlink-and-routerlink
//https://youtu.be/d6gJLs3ZZII
//https://stackoverflow.com/questions/74114391/npm-install-err-code-eresolve-while-resolving-angular-user-idle3-0-0 -->


<div fxLayout="row wrap">
  <div fxFlex>
    <div fxLayout="column">
      <div>
        <img src="../../assets/munro.png" style="max-width: 350px" />
      </div>
      <div>
        <em>
          Munro Leaf on the poster for the Federal Theatre Project marionette production of Ferdinand the Bull (1937)
        </em>
      </div>
    </div>
  </div>

  <div fxFlex>
    <h1 class="blue">Munro Leaf</h1>
    <p>
      The author Munroe Leaf is an American writer of children books. During his impressive 40 year career he has
      written over
      40 books before passing away in 1976 at the age of 71. His most famous book was Ferdinand the Bull which he wrote
      in
      less the one hour on a yellow legal-length pad. The story follows a gentle bull in rural Spain who prefers
      smelling
      flowers to bullfighting. The book has been translated to over 60 foreign languages.

    </p>
  </div>
</div>
