<!-- // Title: Assignment 2.4 Composer
// Author: Prof Krasso
// Date: 30 Oct 2022
// Modified: Detres
// Description: Assignment 2.4 Composer
// Attribution: Code Exercise/Videos provided by Prof. -->


<div class="contact-container">

  <div class="row">
    <div class="col-sm-12">
      <h3 style="padding-left: 27%;">Contact Us </h3>
    </div>
  </div>

  <br /><br />
  <div class="row">

    <div class="col-sm-6">
      <div class="row location">
        <div class="col-sm-12">
          <h1><i class="bi bi-geo-alt"></i>Address</h1>
        </div>
      </div>

      <div class="row location">
        <div class="col-sm-12">
          <ul class="list-group">
            <li class="list-group-item border-0">477 Bandera</li>
            <li class="list-group-item border-0">San Antonio, Texas</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="col-sm-6">
        <div class="row location">
          <div class="col-sm-12">
            <h1><i class="bi bi-telephone"></i>Telephone</h1>
          </div>
        </div>

        <div class="row location">
          <div class="col-sm-12">
            <ul class="list-group">
              <li class="list-group-item border-0">Phone: 1-800-454-4545</li>
              <li class="list-group-item border-0">Fax: 1-800-454-4545</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
