/*

Title: Exercise 1.3 - Hello World
Author: Professor Krasso
Date: 21 Oct 2022
Modified By: Detres
Description: Angular CLI
Code Attribution: Code provided by Professor's walk through videos
//https://www.educba.com/bootstrap-commands/
//https://stackoverflow.com/questions/52676474/bootstrap-not-working-properly-in-angular-6
*/

@import "~bootstrap/dist/css/bootstrap.css";
